.skills {
  flex-grow: 1;
}

.skills h1 {
  margin-bottom: 20px;
}
.skills-header
{
  padding-top:30px;
  padding-bottom:10px;
  text-decoration: underline;
  border-radius: 15px;
  padding:5px;
}

.content {
  display: grid;
  font-size: 24px;
  grid-template-columns: 1fr 1fr;
}

.content div {
  margin-bottom: 25px;
}


.content span{
  margin: 0;
  margin-bottom: 10px;
}

@media (min-width: 800px) {
  .content {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
