.other-skills
{
font-size: 1.8rem;
display:flex;
flex-direction:column;
flex-wrap: wrap;
}
.other-skills p{
  line-height: 1.8;
}
.skills-row
{
  display:flex;
  flex-wrap: wrap;
  justify-content:flex-start;
}
.row-item
{
  padding:1.7rem;
  font-size: 1.2rem;
}
