  
.app {
  display: flex;
  margin: 20px auto;
  width:80vw;
  padding: 20px 15px;
  min-height: 90vh;
  border-radius:30px;
  flex-direction: column;
box-shadow: 9px 9px 16px 3px rgb(24, 22, 22);
background:#19201ff5;


}

@media (min-width: 800px) {
  .app {
    padding: 0 100px;
    margin-top: 5vh;
    min-height: 90vh;
  }
}