  
.app {
  display: flex;
  margin: 20px auto;
  max-width: 1200px;
  padding: 20px 15px;
  min-height: 100vh;
  border-radius: 20px;
  flex-direction: column;
/* background:linear-gradient(to right,#baf0a5,#b8eb40); */
background:#19201ff5;


}

@media (min-width: 800px) {
  .app {
    padding: 0 100px;
    margin-top: 5vh;
    min-height: 90vh;
  }
}