
.feature
{
    margin-top:-13rem;
    padding-top:16rem;
    padding-bottom: 2rem;;
    background-size: cover;
    font-size: 1.6rem;
    &-box 
    {
        border-radius: 15px;
        text-align: center;
        min-height:fit-content;
        background-color:#85a1c2a8;
        padding: 15px;
        transition: all .2s;
            &-text  
        {
        padding :.8rem;
        margin-bottom: 2rem;
        }
        &:hover{
            
            transform: translateY(-1rem) scale(1.06);
            background-color: #e0faddcc;
            color:black;
            // outline: 3px solid rgba(teal,.5);

        }
    }
}